# Build generated
build/
DerivedData

# Various settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata

# Other
*.moved-aside
*.xccheckout
*.xcuserstate
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# For JetBrains based IDEs
.idea/

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Swift Package Manager
.build/